.section-header {
  background: #f1f1f1;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}
.section-header:hover {
  background: #1e293b;
  color: white;
}
.curriculum ul {
  padding-left: 20px;
}
.curriculum ul li {
  margin-bottom: 6px;
  line-height: 1.5;
  font-size: 15px;
  color: #333; 
  letter-spacing: 0.3px;
}

